#container {
  margin: 4vh .05vw;
  padding: 2vh 0;
  border-radius: .5%;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, .75);
  background-color: #eee;
}

header {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

main {
  display: flex;
  flex-direction: column;
  flex-basis: 50vw;
  align-items: center;
}

#img-div {
  margin: 0;
  border-radius: .5%;
  padding: 2.5vmin;
  background-color: white;
  text-align: center;
}

#image {
  display: block;
  max-width: 100%;
  height: auto;
}

#img-caption {
  margin-top: 2%;
}

#tribute-info {
  width: 600px;
  max-width: 90%;
}

#tribute-info h3 {
  text-align: center;
  margin: 6vh 0;
}

#tribute-info li {
  margin: 3vh 0;
}

blockquote {
  margin-top: 6vh;
  margin-bottom: 6vh;
  font-style: italic;
}

footer p {
  font-size: 1.15rem;
  text-align: center;
  font-weight: bold;
}